In [2]:
import pandas as pd
from pathlib import Path

In [3]:
cwd = Path.cwd()
cwd

PosixPath('/Users/mikesmith/Documents/github/rowlrs-data/notebooks')

In [4]:
data_path = cwd.parent / 'data' / 'eDNA' / 'profiles_ctd'
data_path

PosixPath('/Users/mikesmith/Documents/github/rowlrs-data/data/eDNA/profiles_ctd')

In [5]:
file_names = [
    "castaway_raw_example_CC1606011_20200811_122016.csv", 
    "castaway_up_down_example_CC1606011_20200811_122016.csv", 
    "castaway_processed_example_CC1606011_20200811_122016.csv"
]

In [27]:
raw = data_path / file_names[0]
print(raw)

/Users/mikesmith/Documents/github/rowlrs-data/data/eDNA/profiles_ctd/castaway_raw_example_CC1606011_20200811_122016.csv

False

In [80]:
metadata = {}

with open(raw) as f:
    lines = f.readlines()
    
for line in lines:
    if line.startswith('%'):
        # print(line)
        parse_line = line.strip('%').strip().split(',')
        if len(parse_line) > 1:
            metadata[parse_line[0]] = parse_line[1]

In [81]:
metadata

{'Device': 'CC1606011',
 'File name': 'CC1606011_20200811_122016',
 'Cast time (UTC)': '2020-08-11 12:20:16',
 'Cast time (local)': '2020-08-11 08:20:16',
 'Sample type': 'Cast',
 'Cast data': 'Raw',
 'Location source': 'GPS',
 'Default latitude': '32',
 'Default altitude': '0',
 'Start latitude': '40.4884485',
 'Start longitude': '-74.0466102',
 'Start altitude': '-23.1299991607666',
 'Start GPS horizontal error(Meter)': '4.28000020980835',
 'Start GPS vertical error(Meter)': '6.75',
 'Start GPS number of satellites': '6',
 'End latitude': '40.488527',
 'End longitude': '-74.0466998',
 'End altitude': '-51.229999542236328',
 'End GPS horizontal error(Meter)': '17.930000305175781',
 'End GPS vertical error(Meter)': '29.1299991607666',
 'End GPS number of satellites': '6',
 'Cast duration (Seconds)': '93.4',
 'Samples per second': '5',
 'Electronics calibration date': '0001-01-01',
 'Conductivity calibration date': '2016-02-19',
 'Temperature calibration date': '2016-02-17',
 'Pressure calibration date': '2016-02-12'}

In [26]:

ctd_raw = pd.read_csv(raw, comment="%")
ctd_raw.head()

,Time (Seconds),Pressure (Decibar),Temperature (Celsius),Conductivity (MicroSiemens per Centimeter)
0,36.8,0.000000,26.284374,43.117741
1,37.0,0.054348,26.284153,30897.562500
2,37.2,0.156566,26.278503,37508.570312
3,37.4,0.172620,26.260572,38542.132812
4,37.6,0.157218,26.242676,39698.691406

In [20]:
var_dict = {}

for item in ctd_raw.keys():
    split_str = item.lower().split()
    var_dict[split_str[0]] = split_str[1].strip('(').strip(')')
var_dict

{'time': 'seconds',
 'pressure': 'decibar',
 'temperature': 'celsius',
 'conductivity': 'microsiemens'}

In [23]:
ctd_raw.columns = var_dict.keys()

In [24]:
ctd_raw

     time  pressure  temperature  conductivity
0    36.8  0.000000    26.284374     43.117741
1    37.0  0.054348    26.284153  30897.562500
2    37.2  0.156566    26.278503  37508.570312
3    37.4  0.172620    26.260572  38542.132812
4    37.6  0.157218    26.242676  39698.691406
..    ...       ...          ...           ...
279  92.6 -0.001303    25.814730    618.987671
280  92.8 -0.001320    25.815216    584.700073
281  93.0  0.000716    25.827135    562.179993
282  93.2  0.001728    25.830572    544.993408
283  93.4  0.000000    25.834465    532.234619

[284 rows x 4 columns]

In [13]:
up_down = data_path / file_names[1]

ctd_up_down = pd.read_csv(up_down, comment="%")
ctd_up_down.head()

,Pressure (Decibar),Depth (Meter),Temperature (Celsius),Conductivity (MicroSiemens per Centimeter),Specific conductance (MicroSiemens per Centimeter),Salinity (Practical Salinity Scale),Sound velocity (Meters per Second),Density (Kilograms per Cubic Meter)
0,0.15,0.150734,26.189845,39720.726880,38797.467242,24.672622,1526.230984,1015.208947
1,0.45,0.452182,26.169781,40030.718750,39115.585584,24.897154,1526.426252,1015.384733
2,0.75,0.753603,26.176081,40026.944273,39107.082659,24.891089,1526.440005,1015.379598
3,1.05,1.055024,26.177109,40025.503906,39104.889737,24.889473,1526.445811,1015.379384
4,1.35,1.356447,26.177677,40017.507812,39096.643339,24.883580,1526.445968,1015.376099

In [14]:
processed = data_path / file_names[2]

ctd_processed = pd.read_csv(processed, comment="%")
ctd_processed.head()

,Pressure (Decibar),Depth (Meter),Temperature (Celsius),Conductivity (MicroSiemens per Centimeter),Specific conductance (MicroSiemens per Centimeter),Salinity (Practical Salinity Scale),Sound velocity (Meters per Second),Density (Kilograms per Cubic Meter)
0,0.15,0.150704,26.156805,40060.55118,39154.66529,24.924813,28.000000,28.000000
1,0.45,0.452118,26.147978,40061.30715,39162.16079,24.930026,1526.408740,1015.415940
2,0.75,0.753528,26.139420,40056.22317,39163.74412,24.931062,1526.394301,1015.420591
3,1.05,1.054937,26.130011,40051.11262,39165.95322,24.932538,1526.378278,1015.425827
4,1.35,1.356344,26.122368,40045.75554,39166.56981,24.932891,1526.365305,1015.429691